<div class="espacio"></div>

<div class="col-sm-12 col-md-8 col-lg-6 mx-auto">
  <div class="card" style="background: rgb(226, 226, 250);">
    <div class="card-header">
      <img class="rounded-circle mx-auto d-block logo m-4"
        src="https://res.cloudinary.com/zhamat-sistemas/image/upload/v1598373097/imgsonivision/avatar_dd39ej.jpg"
        alt="Logo Zhamat">
    </div>
    <div class="card-body">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
        <label class="form-check-label" for="inlineRadio1">Pagar Personalmente</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
        <label class="form-check-label" for="inlineRadio2">Pagar via Epayco</label>
      </div>      
    </div>
  </div>
</div>


{{!-- <div class="col-sm-12 col-md-8 col-lg-6 mx-auto">
  <h3 class="text-center"><strong>Datos de Envio</strong></h3>
  <div class="card" id="pagotarjeta">
    <div class="card-header text-center">
      <p>Valor a Pagar: $100.000 COP</p>
    </div>
    <div class="card-body">
      <form action="/formasPago" method="POST">
        <div class="form-group">
          <input type="textarea" class="form-control" name="email" value="" placeholder="Email" required />
        </div>
        <div class="form-group">
          <textarea rows="1" type="textarea" class="form-control" name="name" placeholder="Nombres y Apellidos "
            required /></textarea>
        </div>
        <div class="form-group">
          <input type="textarea" class="form-control" name="direccion" placeholder="Direccion Destinatario"
            required></input>
        </div>
        <div class="form-group">
          <input type="number" class="form-control" name="identidad" placeholder="Documento de Identidad"
            required></input>
        </div>
        <div class="form-group">
          <input type="number" class="form-control" name="celular" placeholder="Teléfono o Celular" required>
        </div>
        <div class="form-group">
          <input type="number" class="form-control" name="whatsapp" placeholder="Whatsapp">
        </div>
        <button class="btn btn-success btn-block">
          Ir a Sistemas de Pago
        </button>
      </form>
    </div>
  </div>  
</div> --}}