<div class="espacio"></div>
<div class="col-sm-12 col-md-8 col-lg-6 mx-auto">
    <div class="card" style="background: rgb(205, 206, 207, 0.8);">
        <div class="card-header">
            <img class="rounded-circle mx-auto d-block logo m-4"
                src="https://res.cloudinary.com/zhamat-sistemas/image/upload/v1598373097/imgsonivision/avatar_dd39ej.jpg"
                alt="Logo">
        </div>
        <div class="card-body">
            <h5>Para adquirir nuestro paquete le solicitamos por favor <a href="/users/signin">Inicie Sesión</a>, o si
                no se ha <a href="/users/signup">Resgistrado</a> por favor hágalo </h5>
        </div>
    </div>
</div>