<div class="containner p-4">
    <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4>El correo se envio Correctamente</h4>
                <h5>Gracias por contactarnos</h5>
                <a href="/">
                    <button class="btn btn-primary btn-block">Inicio</button>    
                </a>
                
            </div>
        </div>
    </div>    
</div>