<div class="containner mgarriba">
    <div class="col-sm-12 col-md-6 col-lg-4 mx-auto">
        <div class="card">
            <div class="card-body">
                <h4 class="text-center">El correo se envio Correctamente</h4>
                <h5 class="text-center">Gracias por contactarnos</h5>
                <br><br>
                <a class="btn btn-primary btn-block" href="/">
                  <i class="fa fa-home">  Inicio</i><span></span>
                </a>           
            </div>
        </div>
    </div>    
</div>