<section id="one">
    <div class="image main" data-position="center">
        <img class="img-fluid"
            src="https://res.cloudinary.com/zhamat-sistemas/image/upload/v1603937922/img-zhamat_a9ax5d.jpg"
            alt="logo_Zhamat" />
        <div id="zhamat"></div>
    </div>
    <div class="container">
        <header class="major">
            <h2>Su Negocio o Empresa a la Nube</h2>
            <p>Llegó el momento de abrir la ventana al Universo Internet
        </header>
        <article class="iva">
            <h4>¿Su negocio está preparado para el día sin IVA?, el comercio electrónico le permite hacer transacciones
                para aprovechar el impulso a su establecimiento que el gobierno lidera y con ello generar ventas, <a
                    href="#four"><strong>contáctenos</strong></a> y lo asesoramos.</h4>
        </article><br>
        <p>¿Por qué su Establecimiento tiene que ser Local o de barrio? Internet le abrió una ventana para extenderse y
            conseguir nuevos clientes, <strong>¡es ahí donde entramos para apoyarlo¡ </strong></p>
    </div>
</section>

<!--Dos -->
<section id="two">
    <div class="container">
        <h3>Nuestro Paquete para Almacenes, Tiendas y Negocios</h3>
        <p>Por el pago de un valor mínimo, usted obtiene un completo paquete en el que "Posicionamos su Negocio e
            Incrementamos sus clientes y ventas" mediante tres herramientas que le entregamos ya!: </p>
        <ul>
            <li>Un software (Tienda Digital)</li>
            <li>Campaña de Posicionamiento en Google</li>
            <li>Campaña Redes Sociales y Voz a voz</li>
            </p>
        </ul>
        <div class="features">
            <article>
                <a href="#" class="image"><img src="https://i.ibb.co/Gtr8XtZ/tienda-Dig.jpg" alt="tienda Digital" /></a>
                <div class="inner">
                    <h4>1. Un Software (Tienda Digital)</h4>
                    <p>Abra un nuevo mercado con ventas a Domicilio, solicitud de citas o espacios, consultas, etc.,
                        mediante un software que le entregamos adaptado a todos los dispositivos y que será siempre suyo
                        (incluye hosting y Dominio Gratis)</p>
                </div>
            </article>
            <article>
                <a href="#" class="image"><img src="https://i.ibb.co/V97cVsc/Google-Camp.jpg"
                        alt="Google Campañas" /></a>
                <div class="inner">
                    <h4>2. Campaña Google (SEO y SEM)</h4>
                    <p>Gracias a las herramientas que ofrecen los buscadores, iniciamos a posicionar su página para que
                        todos la vean mediante campañas con y sin Pago</p>
                </div>
            </article>
            <article>
                <a href="#" class="image"><img src="https://i.ibb.co/P40bSpV/redes-Sociales.jpg"
                        alt="redes Sociales" /></a>
                <div class="inner">
                    <h4>Campaña Voz a voz y Redes Sociales</h4>
                    <p>Herramientas como las Redes Sociales, son la fórmula para que lo conozcan, y con Nuestra base de
                        datos identificamos los potenciales clientes y a ellos presentamos su Empresa, Tienda o Negocio
                    </p>
                </div>
            </article>
            <article>
                <a href="#" class="image"><img src="https://i.ibb.co/crTGGCN/database.jpg" alt="redes Sociales" /></a>
                <div class="inner">
                    <h4>Base de Datos volcado a su Negocio</h4>
                    <p>Estamos filtrando una base de datos con Clientes Potenciales, para que sus productos, servicios y
                        ofertas le llegue a quien realmente lo necesita y empiece a conocer su Negocio, Tienda o
                        Empresa.</p>
                </div>
            </article>
            <article>
                <a href="#" class="image"><img src="https://i.ibb.co/ryMXdK7/balanza-dinero.jpg" alt="costos" /></a>
                <div class="inner">
                    <h4>¿Y cuanto le va a Costar?</h4>
                    <p>Todo el Paquete tiene un valor de tan solo <strong>$100.000 COP (pesos Colombianos), </strong> que
                        cancelara después de que su página aparezca en Internet. <strong><a
                                href="#four">Contáctenos.</a></strong> para que un técnico lo visite</p>
                </div>
            </article>
        </div>
    </div>
</section><br>

<!-- Three -->
<section id="three">
    <div class="container">
        <h3>Nuestros Servicios</h3>
        <p>Brindamos acompañamiento en todos los campos tecnológicos, para que usted reciba asesoría con cualquier
            herramienta Digital</p>
        <ul class="feature-icons">
            {{!-- Desarrollo de Software --}}
                <a data-toggle="modal" data-target="#desarrolloSoftware" class="Amodal">
                    <li class="icon solid fa-code">Desarrollo de Software</li>
                </a> 
                <!-- Modal Desarrollo Software -->
                <div class="modal fade" id="desarrolloSoftware" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="desarrolloSoftwareLabel">Desarrollo de Software</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                            Aquie el contenido del desarrollo de Software
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>                           
                            </div>
                        </div>
                    </div>
                </div>

             {{!-- Mantenimiento de computadores --}}
                <a data-toggle="modal" data-target="#manteCompu" class="Amodal">
                    <li class="icon solid fa-laptop">Mantenimiento de Computadores</li>
                </a> 
                <!-- Modal Desarrollo Software -->
                <div class="modal fade" id="manteCompu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="manteCompuLabel">Mantenimiento de Computadores</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                            Aqui el contenido de Mantenimiento de Computadores
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>                           
                            </div>
                        </div>
                    </div>
                </div>

                {{!-- Mantenimiento de computadores --}}
                <a data-toggle="modal" data-target="#marketing" class="Amodal">
                    <li class="icon solid fa-laptop">Marketing Digital</li>
                </a> 
                <!-- Modal Desarrollo Software -->
                <div class="modal fade" id="marketing" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="marketing">Marketing Digital</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                            Aqui el contenido de Marketing Digital
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>                           
                            </div>
                        </div>
                    </div>
                </div>                
            
            <a href="#">
                <li class="icon solid fa-users">E-Commerce</li>
            </a>
            <a href="#">
                <li class="icon solid fa-address-card">campaña SEO y SEM</li>
            </a>            
            <a href="#">
                <li class="icon solid fa-users">Redes Sociales</li>
            </a>
        </ul>
    </div>
</section><br>

<!-- Four -->
<section id="four">
    <div class="container" style="padding:30px; background: rgb(156, 172, 185);">
        <h3>Contáctanos</h3>
        <p>Por favor colócanos tus inquietudes, estaremos pronto a resolverlos</p>
        <form action="enviar.php" method="POST">
            <div class="row gtr-uniform">
                <div class="col-6 col-12-xsmall"><input type="text" name="nombre" placeholder="Nombres/Apellidos*"
                        required></div>
                <div class="col-6 col-12-xsmall"><input type="email" name="email" placeholder="Email*" required /></div>
                <div class="col-12"><input type="text" name="whatsapp" placeholder="Whatsapp" />
                    <small style="font-size: smaller;">Si desea que lo contactemos via Whatsapp déjenos su
                        número</small>
                </div>
                <div class="col-12"><textarea name="mensaje" placeholder="Mensaje*" rows="6" required></textarea></div>
                <div class="col-12">
                    <ul class="actions">
                        <li><input type="submit" class="primary" value="Enviar Mensaje" /></li>
                        <li><input type="reset" value="Resetear Formulario" /></li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</section>

<!-- Footer -->
<section id="footer">
    <div class="container">
        <p class="copyright">
            &copy; Zhamat Sistemas. Todos los Derechos Reservados.<br>
            Cel: 313 2375369 - Whatsapp: 302 4605709 <br>
            2020 - Bogotá. Colombia
        </p>
    </div>
</section>