<section>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/elD5LkttFIA?rel=0&autoplay=1" frameborder="0""
            allowfullscreen></iframe>
    </div>
    {{!-- <div class="”video-responsive”">
            <video src="https://res.cloudinary.com/zhamat-sistemas/video/upload/v1605718767/Zhamat_Sistemas/Publicidad_General_xrt9nq.mp4" autoplay muted preload="auto">                
            </video>            
        </div>     --}}

    <div class="container">
        <header class="major">
            <h2>Su Negocio o Empresa a la Nube</h2>
            <p>Llegó el momento de abrir la ventana al Universo Internet
        </header>
        <article class="iva">
            <h4>¿Su negocio está preparado para el día sin IVA?, el comercio electrónico le permite hacer transacciones
                para aprovechar el impulso a su establecimiento que el gobierno lidera y con ello generar ventas, <a
                    href="#four"><strong>contáctenos</strong></a> y lo asesoramos.</h4>
        </article><br>
        <p>¿Por qué su Establecimiento tiene que ser Local o de barrio? Internet le abrió una ventana para extenderse y
            conseguir nuevos clientes, <strong>¡es ahí donde entramos para apoyarlo¡ </strong></p>
    </div>

</section>

<!--Dos -->
<section id="two">
    <div class="container">
        <h3>Nuestro Paquete para Almacenes, Tiendas y Negocios</h3>
        <p>Por el pago de un valor mínimo, usted obtiene un completo paquete en el que "Posicionamos su Negocio e
            Incrementamos sus clientes y ventas" mediante tres herramientas que le entregamos ya!: </p>
        <ul>
            <li>Un software (Tienda Digital)</li>
            <li>Campaña de Posicionamiento en Google</li>
            <li>Campaña Redes Sociales y Voz a voz</li>
            <li>Base de datos volcado a su Negocio</li>
            </p>
        </ul>
        <div class="features">
            <article>
                <a href="#" class="image"><img src="https://i.ibb.co/Gtr8XtZ/tienda-Dig.jpg" alt="tienda Digital" /></a>
                <div class="inner">
                    <h4>1. Un Software (Tienda Digital)</h4>
                    <p>Abra un nuevo mercado con ventas a Domicilio, solicitud de citas o espacios, consultas, etc.,
                        mediante un software que le entregamos adaptado a todos los dispositivos y que será siempre suyo
                        (incluye hosting y Dominio Gratis)</p>
                </div>
            </article>
            <article>
                <a href="#" class="image"><img src="https://i.ibb.co/V97cVsc/Google-Camp.jpg"
                        alt="Google Campañas" /></a>
                <div class="inner">
                    <h4>2. Campaña Google (SEO y SEM)</h4>
                    <p>Gracias a las herramientas que ofrecen los buscadores, iniciamos a posicionar su página para que
                        todos la vean mediante campañas con y sin Pago</p>
                </div>
            </article>
            <article>
                <a href="#" class="image"><img src="https://i.ibb.co/P40bSpV/redes-Sociales.jpg"
                        alt="redes Sociales" /></a>
                <div class="inner">
                    <h4>Campaña Voz a voz y Redes Sociales</h4>
                    <p>Herramientas como las Redes Sociales, son la fórmula para que lo conozcan, y con Nuestra base de
                        datos identificamos los potenciales clientes y a ellos presentamos su Empresa, Tienda o Negocio
                    </p>
                </div>
            </article>
            <article>
                <a href="#" class="image"><img src="https://i.ibb.co/crTGGCN/database.jpg" alt="redes Sociales" /></a>
                <div class="inner">
                    <h4>Base de Datos volcado a su Negocio</h4>
                    <p>Estamos filtrando una base de datos con Clientes Potenciales, para que sus productos, servicios y
                        ofertas le llegue a quien realmente lo necesita y empiece a conocer su Negocio, Tienda o
                        Empresa.</p>
                </div>
            </article>
            <article>
                <a href="#" class="image"><img src="https://i.ibb.co/ryMXdK7/balanza-dinero.jpg" alt="costos" /></a>
                <div class="inner">
                    <h4>¿Y cuanto le va a Costar?</h4>
                    <p>Todo el Paquete tiene un valor de tan solo <strong>$100.000 COP (pesos Colombianos), </strong>
                        que
                        cancelara después de que su página aparezca en Internet. <strong> <a
                                href="#four">Contáctenos.</a></strong> para que un técnico lo visite
                    </p>
                    {{#if user}}
                    <a href="/ventas/ckeckout">
                        <button class="btn btn-primary" title="Presione para Adquirir nuestro paquete">Adquirir el
                            paquete</button>
                    </a>
                    {{else}}
                    <a href="/ventas/sinInicio">
                        <button class="btn btn-primary" title="Presione para Adquirir nuestro paquete">Adquirir el
                            paquete</button>
                    </a>
                    {{/if}}
                </div>
            </article>
        </div>
    </div>
</section><br>

<!-- Three -->
<section id="three">
    <div class="container">
        <h3>Nuestros Servicios</h3>
        <p>Brindamos acompañamiento en todos los campos tecnológicos, para que usted reciba asesoría con cualquier
            herramienta Digital, además de asesoría legal</p>
        <ul class="feature-icons">
            {{!-- Desarrollo de Software --}}
            <a data-toggle="modal" data-target="#desarrolloSoftware" class="Amodal">
                <li class="icon solid fa-code">Desarrollo de Software</li>
            </a>
            <!-- Modal Desarrollo Software -->
            <div class="modal fade" id="desarrolloSoftware" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="desarrolloSoftwareLabel">Desarrollo de Software</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <img class="img-fluid"
                                src="https://res.cloudinary.com/zhamat-sistemas/image/upload/v1604197701/Zhamat_Sistemas/desarrollo_xskxsl.jpg"
                                alt="redes_sociales" /> <br> <br>
                            <p class="icon solid fa-crown black"> Mediante el software adecuado los procesos son
                                definitivamente más acertados en cuanto a tiempo y recursos, permitiendo centrar
                                esfuerzos en otros aspectos esenciales como por ejemplo atraer nuevos clientes.</p>
                            <p class="icon solid fa-crown black"> Si tu negocio crece, además lo hará tu software,
                                permitiendo agregar nuevos usuarios o incorporar nuevas características sin tener que
                                rehacer todo.</p>
                            <p class="icon solid fa-crown black"> La automatización de tareas reduce costos de manera
                                permanente, pudiendo hacer más por menos, además de contar con datos y métricas para
                                monitorear tu negocio en tiempo real.</p>
                            <p class="icon solid fa-crown black"> Desarrollamos aplicaciones informáticas que trabajen
                                para tus necesidades en aquellos casos en los que éstas no están recogidas por software
                                estándar, o no lo están de una forma eficiente.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- Mantenimiento de computadores --}}
            <a data-toggle="modal" data-target="#manteCompu" class="Amodal">
                <li class="icon solid fa-laptop">Mantenimiento de Computadores</li>
            </a>
            <!-- Modal Mantenimiento de computadores -->
            <div class="modal fade" id="manteCompu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="manteCompuLabel">Mantenimiento de Computadores</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <img class="img-fluid"
                                src="https://res.cloudinary.com/zhamat-sistemas/image/upload/v1604197298/Zhamat_Sistemas/mantenimiento-PC_zofjcz.jpg"
                                alt="redes_sociales" /> <br> <br>
                            <p class="icon solid fa-desktop blue"> Conocemos la importancia de la Tecnología para las
                                personas, ya que es una herramienta indispensable para desarrollar nuestras tareas a
                                diario, somos un grupo de Ingenieros y Tecnólogos capacitados para atender las
                                necesidades de personas naturales y empresas.</p>
                            <p class="icon solid fa-desktop blue"> Realizamos el análisis de la situación actual
                                tecnológica y presentamos propuestas innovadoras que se ajusten al presupuesto y la
                                necesidad del Cliente.​</p>
                            <p class="icon solid fa-desktop blue"> Realizamos el análisis de la situación actual
                                tecnológica y presentamos propuestas innovadoras que se ajusten al presupuesto y la
                                necesidad del Cliente.​</p>
                            <p class="icon solid fa-desktop blue"> Hacemos lo que más nos apasiona, por eso prestamos un
                                excelente servicio, con atención presencial y remota, soporte postventa, y garantía de
                                nuestros trabajos.​Contamos con más de 10 años de experiencia en el sector..</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- Tramites Legales --}}
            <a data-toggle="modal" data-target="#tramites" class="Amodal">
                <li class="icon solid fa-bullhorn">Tramites Legales</li>
            </a>
            <!-- Modal Tramites Legales -->
            <div class="modal fade" id="tramites" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="tramites">Tramites Legales</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <img class="img-fluid"
                                src="https://res.cloudinary.com/zhamat-sistemas/image/upload/v1604198992/Zhamat_Sistemas/tramites_tcu3ou.jpg"
                                alt="redes_sociales" /> <br> <br>
                            <p class="icon solid fa-pen-fancy blue"> Para una Pequeña y Mediana Empresa que recién
                                comienza, tener asesoría contable es uno de los factores que definirá su éxito, dado que
                                este se encargará de gestionar de forma correcta sus procesos contables y le permitirá
                                administrar eficientemente sus recursos. </p>
                            <p class="icon solid fa-pen-fancy blue"> Debido a los innumerables cambios que sufren las
                                actividades comerciales, es importante que los emprendedores tengan en su equipo a un
                                asesor capaz de tramitar diversos documentos financieros, ya que esto les facilitará la
                                toma de decisiones y les permitirá estar al día con sus obligaciones fiscales. </p> <br>
                            <p class="icon solid fa-pen-fancy blue"> Con el fin de ayudar a los emprendedores a agilizar
                                su contabilidad, a continuación les mostraremos algunos trámites que pueden realizar con
                                la ayuda de su asesor contable.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- Campañas SEO - SEM --}}
            <a data-toggle="modal" data-target="#seosem" class="Amodal">
                <li class="icon solid fa-crosshairs">Campañas SEO - SEM</li>
            </a>
            <!-- Modal Campañas SEO - SEM -->
            <div class="modal fade" id="seosem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="marketing">Campañas SEO - SEM</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <img class="img-fluid"
                                src="https://res.cloudinary.com/zhamat-sistemas/image/upload/v1604196571/Zhamat_Sistemas/campa%C3%B1asseo_z9apna.jpg"
                                alt="campanas_SEO" /> <br> <br>
                            <p class="icon solid fa-binoculars blue"> El posicionamiento SEO (Search Engine
                                Optimization) es el conjunto de técnicas que se aplican en una página web con el
                                objetivo de mejorar su posición en los resultados de búsqueda a nivel orgánico.
                                Podríamos decir que el SEO es el posicionamiento natural de una página web en los
                                buscadores.</p>

                            <p class="icon solid fa-binoculars blue"> El concepto SEM (Search Engine Marketing) hace
                                referencia a las prácticas que se realizan en una web para obtener la mayor visibilidad
                                mediante campañas de publicidad en los buscadores. En otras palabras, podemos decir que
                                el SEM son los resultados de pago del buscador. Es decir, el anunciante paga cada vez
                                que un usuario hace clic en el anuncio a cambio de aparecer en las primeras posiciones
                                de búsqueda reservadas ya para este tipo de campañas.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- E-Commerce --}}
            <a data-toggle="modal" data-target="#ecommerce" class="Amodal">
                <li class="icon solid fa-crosshairs">Comercio Electrónico</li>
            </a>
            <!-- Modal E-Commerce -->
            <div class="modal fade" id="ecommerce" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ecommerce">Comercio Electrónico</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <img class="img-fluid"
                                src="https://res.cloudinary.com/zhamat-sistemas/image/upload/v1604196376/Zhamat_Sistemas/ecommerce_r0dhph.jpg"
                                alt="e-commerce" /> <br> <br>
                            <p class="icon solid fa-app-store-ios black"> El comercio electrónico o e-commerce consiste
                                fundamentalmente en el desarrollo de acciones de mercado, ventas, servicio al cliente,
                                gestión de cartera, gestión logística y en general, todo evento de tipo comercial e
                                intercambio de información llevado a cabo por medio de internet. otra deficnición podría
                                ser. el comercio electrónico como aquel intercambio financiero que se realiza, a través
                                de la red, entre sujetos que pueden estar a una gran distancia física, y que se
                                materializa generalmente por medios de pago electrónicos.</p>
                            <p> Ventajas del comercio electrónico </p>
                            <p class="icon solid fa-arrow-alt-circle-right black"> Creación de oportunidades de negocio
                                y nuevas formas de distribución de sus productos y servicios.</p>
                            <p class="icon solid fa-arrow-alt-circle-right black"> Acceso a clientes de cualquier zona
                                geográfica sin limitación, apertura y expansión hacia nuevos mercados.</p>
                            <p class="icon solid fa-arrow-alt-circle-right black"> Aumento de la competitividad y
                                calidad de servicio. </p>
                            <p class="icon solid fa-arrow-alt-circle-right black"> Respuesta rápida a las necesidades y
                                cadenas de entrega mas cortas o inexistentes lo que puede dar lugar a una reducción de
                                precios finales. </p>
                            <p class="icon solid fa-arrow-alt-circle-right black"> Control de pedidos y clientes. </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- Redes Sociales --}}
            <a data-toggle="modal" data-target="#redes" class="Amodal">
                <li class="icon solid fa-crosshairs">Redes Sociales</li>
            </a>
            <!-- Modal Redes Sociales -->
            <div class="modal fade" id="redes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="redes">Redes Sociales</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <img class="img-fluid"
                                src="https://res.cloudinary.com/zhamat-sistemas/image/upload/v1604165474/redes-sociales_ksjssx.jpg"
                                alt="redes_sociales" /> <br> <br>
                            Para comprender la importancia que tiene las Redes sociales como parte de tu estrategia de
                            marketing, aquí hay algunos datos sobre los consumidores y el uso que hacen de las redes
                            sociales: <br> <br>
                            <p class="fa fa-street-view blue"> Se estima que el 72% de los clientes comparten las
                                experiencias positivas con otras 6 personas. </p>
                            <p class="fa fa-street-view green"> El 86% de los compradores están dispuestos a pagar más a
                                cambio de una buena experiencia de cliente. </p>
                            <p class="fa fa-street-view red"> El 97% de los consumidores busca comentarios de otros
                                usuarios antes de comprar por Internet: de ellos, a el 58,7% le influyen las opiniones
                                positivas mientras que el 16% se deja influir por los comentarios negativos y un 25,3%,
                                afirma que los comnetarios no afectan en su decisión final de compra. </p>
                            <p class="fa fa-street-view bluetw"> El 55% de los españoles buscan información en redes
                                sociales antes de realizar una compra: el 52% de ellos reconoce que las opiniones
                                inluyen mucho en su decisión final de compra y un 41% deja comentarios en redes sociales
                                tras su compra. </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </ul>
    </div>
</section><br>

<!-- Four -->
<section id="four">
    <div class="container" style="padding:30px; background: rgb(156, 172, 185);">
        <h3>Contáctanos</h3>
        <p>Por favor colócanos tus inquietudes, estaremos pronto a resolverlos</p>
        <form action="enviarEmail" method="POST">
            <div class="row gtr-uniform">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <input type="text" name="nombre" placeholder="Nombres/Apellidos*" required>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <input type="email" name="email" placeholder="Email*" required />
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <input class="col-12 whatsaap" type="number" name="whatsapp" placeholder="Whatsapp" />
                    <small style="font-size: smaller;">Si desea que te contactemos via Whatsapp déjanos tu
                        número</small>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <textarea name="mensaje" placeholder="Mensaje*" rows="6" required></textarea>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <ul class="actions">
                        <li><input type="submit" class="primary" value="Enviar Mensaje" /></li>
                        <li><input type="reset" value="Resetear Formulario" /></li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</section>

<!-- Footer -->
<section id="footer">
    <div class="container">
        <p class="copyright">
            &copy; Zhamat Sistemas. Todos los Derechos Reservados.<br>
            Cel: 313 2375369 - Whatsapp: 302 4605709 <br>
            2020 - Bogotá. Colombia
        </p>
    </div>
</section>