<div class="espacio"></div>
{{#if success_msg }}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{success_msg}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}

{{#if error_msg }}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{error_msg}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}

{{#if msg_carrito}}
  <div class="alert alert-danger alert-dismissible fade show" role="alert" id="labelcarrito">
    {{msg_carrito}}    
      <a href="/llenacarrito">
        <img src="https://res.cloudinary.com/zhamat-sistemas/image/upload/v1599275593/imgsonivision/flechaUp_frkgue.png" alt="flecha" id="flecha">    
      </a>  
  </div>
{{/if}}

<script type="text/javascript"> 
  setTimeout(function () { 
    $('.alert').alert('close'); 
  }, 3000); 
</script> 
